{% extends 'partials/_base.html' %}


{% block content %}


<div class="container">

<div class="row">

  <div class="col-sm-4">
    <div class="card">

        <img src="{{ url_for('static', filename='images/app_1.webp') }}" class="img-fluid" alt="app_1">
            <div class="card-body">
    <h5 class="card-title"><strong>Check Sales</strong></h5>
    <p class="card-text">Check actual sales in Biedronka and Lidl markets.</p>
    <a href="#" class="btn btn-success">Check</a>
      </div>
    </div>
    </div>




  <div class="col-sm-4">
    <div class="card" >
        <a href="{{ url_for('order.orders') }}">
      <img src="{{ url_for('static', filename='images/app_2.webp') }}" class="img-fluid" alt="app_2">
            </a>
        <div class="card-body">
    <h5 class="card-title"><strong>Plan your purchases</strong></h5>
    <p class="card-text">Plan your shopping.</p>
    <a href="{{ url_for('order.orders') }}" class="btn btn-success">Plan</a>
  </div>
</div>
</div>


  <div class="col-sm-4">
    <div class="card">
        <a href="">
        <img src="{{ url_for('static', filename='images/app_3.webp') }}" class="img-fluid">
            </a>
        <div class="card-body">
    <h5 class="card-title"><strong>My Orders</strong></h5>
    <p class="card-text">Your last orders in one place.</p>
    <a href="#" class="btn btn-success">Check</a>

  </div>
</div>
</div>
<p> </p>

  <div class="col-sm-4">
    <div class="card" >
    <img src="{{ url_for('static', filename='images/app_4.webp') }}" class="img-fluid">
        <div class="card-body">
    <h5 class="card-title"><strong>Culinary Recipes</strong></h5>
    <p class="card-text">Check what ingredients you need. </p>
    <a href="#" class="btn btn-success">Check</a>
  </div>
</div>
</div>
</div>




{% endblock %}