<div class="alert text-center cookiealert" role="alert">
Nasza strona internetowa używa plików cookies (tzw. ciasteczka &#x1F36A;) w celach statystycznych, reklamowych oraz funkcjonalnych. Dzięki nim możemy indywidualnie dostosować stronę do twoich potrzeb. Każdy może zaakceptować pliki cookies albo ma możliwość wyłączenia ich w przeglądarce, dzięki czemu nie będą zbierane żadne informacje <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

<button type="button" class="btn btn-primary btn-sm acceptcookies">
    I agree
</button>
</div>
