{% extends 'login.html' %}


{% block content %}
<main>
    <div class="cover">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-6 login-section-wrapper ">
                <div class="brand-wrapper">
                    <b><h2><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo"
                                         class="logo"> Register</h2></b>

                    <p></p>
                    {% include 'partials/_form.html' %}
                </div>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock %}
{% block footer %}
        {% include 'partials/_footer.html' %}
{% endblock %}


